[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "bundle/TaskList"]
	path = bundle/TaskList
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/Gundo"]
	path = bundle/Gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "bundle/snipmate_for_django"]
	path = bundle/snipmate_for_django
	url = https://github.com/robhudson/snipmate_for_django.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "html5-syntax.vim"]
	path = bundle/html5-syntax.vim
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/pytest_django"]
	path = bundle/pytest_django
	url = https://github.com/bfirsh/pytest_django.git
[submodule "bundle/pydoc.vim"]
	path = bundle/pydoc.vim
	url = https://github.com/vim-scripts/pydoc.vim.git
[submodule "bundle/simple-pairs"]
	path = bundle/simple-pairs
	url = https://github.com/vim-scripts/simple-pairs.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/svncommand.vim"]
	path = bundle/svncommand.vim
	url = https://github.com/vim-scripts/svncommand.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule "bundle/vim-bundle-mako"]
	path = bundle/vim-bundle-mako
	url = https://github.com/sophacles/vim-bundle-mako.git
[submodule "bundle/sudo.vim"]
	path = bundle/sudo.vim
	url = https://github.com/vim-scripts/sudo.vim.git
[submodule "bundle/vimpdb"]
	path = bundle/vimpdb
	url = https://github.com/gotcha/vimpdb.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
